article{
    background-color: white;
    color: white;
    float:right;
    width:500px;
}
nav{
    background-color: red;
    color: white;
    float:left;
    width: 200px;
}
section{
    background-color: red;
    border-radius: 20px;
}
body{
    font-family: 'Arial';
    width: 700px;
    margin: auto;
    
}
