article{
    background-color: white;
    color: white;
}
nav{
    background-color: red;
    color: white;
}
section{
    background-color: red;
    border-radius: 20px;
}
body{
    font-family: 'Arial';
    width: 1000px;
    margin: auto;
}
